<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="Server.jar">
      <element id="module-output" name="serv" />
      <element id="library" level="project" name="gson-2.8.2" />
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/serv/src/Server/META-INF/MANIFEST.MF" />
      </element>
    </root>
  </artifact>
</component>